@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100&family=Raleway:wght@100;200;300;400;500;600;700&display=swap');
    body {
      font-family: 'Raleway', sans-serif;
      overscroll-behavior: smooth;
    }
  }
  @layer components {
    
  }
  .shadow-1 {
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
  }
  .shadow-2 {
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
  }
  .border-white-07 {
    border-color: rgba(254, 254, 254, 0.633);
  }
  
  /* width */
  .scrollbar-admin::-webkit-scrollbar {
    width: 6px;
  }
  
  /* Track */
  .scrollbar-admin::-webkit-scrollbar-track {
    background: #ffffff;
    border-radius: 10px;
  }
  
  /* Handle */
  .scrollbar-admin::-webkit-scrollbar-thumb {
    background: #e7e7e7;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  .scrollbar-admin::-webkit-scrollbar-thumb:hover {
    background: #acacac;
  }